<!-- footer start -->
<div class="footerwrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12"><div style="margin-left:auto; margin-right:auto; text-align:center">Copyright &copy; 2015 <a href="#">eBay</a> | 2065 Hamilton Ave, San Jose, CA </div></div>
    </div>
  </div>
</div>
<!-- footer end --> 

<!-- JavaScripts -->
<script src="{{ "/js/jquery-1.11.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.singlePageNav.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.flexslider.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/modernizr.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/svg.js" | prepend: site.baseurl }}"></script>
<script>
    /************** FlexSlider *********************/
    $('.flexslider').flexslider({
        animation: "fade",
        directionNav: false
    });
</script>