---
layout: default
---

<div class="container">
<div class="row">
  <div class="col-md-9 post" role="main">
    <article class="post-content">
      <h1 class="page-header" style="margin-top: auto">
        <a class="anchorjs-link " href="#overview" aria-label="Anchor link for: overview" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>
        {{ page.title }}
      </h1>
      {{ content }}
    </article>
  </div>

  <div class="col-md-3" role="complementary" style="margin-top: 20px">
    <nav class="hidden-print hidden-xs hidden-sm affix-top">
      <ul class="nav docs-sidenav">
        <li class="">
          <a href="#overview">Eagle Overview</a>
          <ul class="nav">
            <li class=""><a href="#overview-doctype">What's Eagle</a></li>
            <li class=""><a href="#overview-mobile">Mobile first</a></li>
            <li class=""><a href="#overview-type-links">Typography and links</a></li>
            <li class=""><a href="#overview-normalize">Normalize.css</a></li>
            <li class=""><a href="#overview-container">Containers</a></li>
          </ul>
        </li>
        <li class="">
          <a href="#overview">How to use Eagle</a>
          <ul class="nav">
            <li class=""><a href="#overview-doctype">What's Eagle</a></li>
            <li class=""><a href="#overview-mobile">Mobile first</a></li>
            <li class=""><a href="#overview-type-links">Typography and links</a></li>
            <li class=""><a href="#overview-normalize">Normalize.css</a></li>
            <li class=""><a href="#overview-container">Containers</a></li>
          </ul>
        </li>
      </ul>
  </div>
</div>
</div>